<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Forgery Detection</title>
</head>
<body>
    <h1>Image Forgery Detection</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload Image</button>
    </form>
    {% if file_path %}
    <img src="{{img}}">
            <h2>Predictions:</h2>
        <ul>
            {% for model, prediction in predictions.items() %}
                <li><strong>{{ model }}:</strong> {% if prediction >= 0.5 %}Forgery Detected{% else %}Authentic{% endif %}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
